

* {
	box-sizing: border-box;
    
}

body{
    margin: 0 auto;
    padding: 0;
    font-family: 'Space Mono', monospace;
    font-size: 88%;

    
}

.container{
    /* position: relative; */
    background-image: url('../images/1.texture.png');
    height: 100vh;
    width: 100vw;
    background-size: cover;

}
nav{
    
    margin: 0 auto;
    width:60em;
    
}
nav>ul,
nav>ul>li {
	margin: 0;
	padding: 0;
	list-style-type: none;
    
}

nav>ul {
	display: flex;
    
	
}

nav>ul>li {
  
   width: 10em;
   margin-left: 5em;
	display: flex;
	flex: 1;
    justify-content: space-between;
	
    
}
nav>ul>li>a {
   
    font-size: 1.3em;
    text-decoration: none;
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	
}

.inspectors>a{
    color: white;
    background-color: blue;
    border: 2px solid black;
}
.inspectors>a:hover{
    color: blue;
    background-color: white;
    border: 2px solid black;
}

.backstage>a{
    color: blue;
    background-color: white;
    border: 2px solid black;

}
.backstage>a:hover{
    color: white;
    background-color: blue;
    border: 2px solid black;

}
.jobs>a{
color: white;
background-color: black;
border: 2px solid black;
}

.jobs>a:hover{
    color: black;
    background-color: white;
    border: 2px solid black;
    }

.navForHambuger{
    display: none;
}
/* nav{
    position: fixed;
    height: 50%;
    left: 25%; top: 3%; bottom: 20%; right: 15%; 
}

ul,li,a{
    list-style-type: none;
    text-decoration: none;

}



nav>ul>li{
   text-align: center;
   padding: 0 0.1rem;
    float: left;
    margin-right: 5em;
    font-size: 1.5em;
    border: 3px solid black;
    
    
} */

/* nav>ul>.inspectors{
    color:white;
    background-color:blue;
    
}
nav>ul>.inspectors>a:visited{
    color:white;
   
    
}

nav>ul>.inspectors:hover{
    color:blue;
    background-color:white;
    
}

nav>ul>.inspectors>a:hover{
    color:blue;
    background-color:white;
    
}
nav>ul>.backstage{
    color:blue;
    background-color:white;
    
}


nav>ul>.backstage>a:visited{
    color:blue;
    background-color:white;
    
}
nav>ul>.backstage:hover{
    color:white;
    background-color:blue;
    
}
nav>ul>.backstage>a:hover{
    color:white;
    background-color:blue;
    
}

nav>ul>.jobs{
    color: white;
    background-color: black;
}
nav>ul>.jobs>a:visited{
    color: white;
    background-color:black;

}
nav>ul>.jobs:hover{
    color: black;
    background-color: white;
}
nav>ul>.jobs>a:hover{
    color: black;
    background-color: white;
}


.clearfix{
    clear: both;
    
} */

.about{
    position: fixed;
    top: 3em; left:3em;
    font-size: 1.5em;
    color: black;
    transform:rotate(25deg)
    
}
.about>a{
    text-decoration: none;
}
.about>a:hover{
    text-decoration: underline;
    
}
.about>a:visited{
    color: black;
}

  .contacts{
    position: absolute;
    top: 84%; left:1.5em;
    font-size: 1.5em;
    color: black;
    transform:rotate(-12deg)
    
    
}
.contacts>a{
    text-decoration: none;
}
.contacts>a:hover{
    text-decoration: underline;
}
.contacts>a:visited{
    color: black;
}  

/* nav > ul > li > ul {
    display: none;
}
nav > ul > li>a:hover{
    color: white;
    background-color: blue;
    cursor: pointer;
}
nav > ul > li:hover > ul {
    display: block;
    text-align: left; 
    padding: 0; 
    color: blue;
    background-color: white;

}   
nav > ul > li:hover > ul > li {
    border: 1px solid black;
    

}   
nav > ul > li:hover > ul > li:hover {
    color:white;
    background-color:blue;

    

}   

nav > ul > li:hover > ul > li>a{
    color: blue;
    background-color: white;
}   
nav > ul > li:hover > ul > li>a:visited{
    color: blue;
    background-color: white;
}
nav > ul > li:hover > ul > li>a:hover:visited{
    background-color: blue;
    color: white;
}    */

a>.hand{
    position: absolute;
    height: 52%;
    left: 45%; top: 24%; bottom: 20%; right: 30%;
    
}
    
.hand:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

    @keyframes shake {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(-1px, -1px) rotate(1deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
      }



      
      .hello{
          position: relative;
          width: 100vw;
          top:91%;
          background-color: white;
          border:3px solid blue;
          box-sizing: border-box ;
         
        
      }

      .animated{
        height: 40px;
        position: relative;
        color: black;
        font-size: 1.5em;
        overflow: hidden;
        display: flex;
        width: 100%;
    
        
      }
      .hello>.animated>p{
          width: 250%;
          position: absolute;
          font-size: 1em;

          margin: 0.2em;
          transform:translateX(100%);
          animation: moving 50s linear infinite;
      }

      @keyframes moving{
          0%{
              transform: translateX(0%);
            }
        100%{
            transform: translateX(-50%);
            }
      }


       @media only screen and (max-width: 1100px){

        .container{
            position: fixed;
            background-image: url('../images/1.texture.png') ;
            height: 100vh;
            width: 120vw;
            overflow: hidden;
            background-size: cover;
        
        }
        .navForHambuger
        {
          display: block;
          width: 50px;
          height: 50px;
          padding: 5px;
          
          position: relative;
          top: 10px;
          left: 40px;
          background-color: white;
          border: 3px solid blue;
          z-index: 1;
          
          -webkit-user-select: none;
          user-select: none;
        }
        
        .navForHambuger a
        {
          text-decoration: none;
          color: black;
          
          transition: color 0.3s ease;
        }
        
        .navForHambuger a:hover
        {
          color: blue;
        }
        
        
        .navForHambuger input
        {
          display: block;
          width: 40px;
          height: 32px;
          position: absolute;
          top: -7px;
          left: -5px;
          
          cursor: pointer;
          
          opacity: 0; 
          z-index: 2; 
          
          -webkit-touch-callout: none;
        }
        
       
         .navForHambuger span
        {
          display: block;
          width: 33px;
          height: 4px;
          margin-left: 1px;
          margin-top: 6px;
          margin-bottom: 3px;
          position: relative;
         
          background: black;
          border-radius: 3px;
          
          z-index: 1;
          
          transform-origin: 4px 0px;
          
          transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                      background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                      opacity 0.55s ease;
        }
        
        .navForHambuger span:first-child
        {
          transform-origin: 0% 0%;
        }
        
        .navForHambuger span:nth-last-child(2)
        {
          transform-origin: 0% 100%;
        }
        
        
         .navForHambuger input:checked ~ span
        {
          opacity: 1;
          transform: rotate(45deg) translate(-2px, -1px);
          background: #232323;
        }
        
        
         .navForHambuger input:checked ~ span:nth-last-child(3)
        {
          opacity: 0;
          transform: rotate(0deg) scale(0.2, 0.2);
        }
        
       
         .navForHambuger input:checked ~ span:nth-last-child(2)
        {
          transform: rotate(-45deg) translate(0, -1px);
        }
        
       
      .hambmenu
        {
          position: absolute;
          width: 300px;
          margin: -100px 0 0 -50px;
          padding: 50px;
          padding-top: 125px;
          
          background: #ededed;
          list-style-type: none;
          -webkit-font-smoothing: antialiased;
          
          transform-origin: 0% 0%;
          transform: translate(-100%, 0);
          
          transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        }
        
        .hambmenu li
        {
          padding: 10px 0;
          font-size: 22px;
        }
        
        
         .navForHambuger input:checked ~ ul
        {
          transform: none;
        }
        nav,.about,.contacts{
            display: none; 
        }
        a>.hand{
            position: absolute;
            height:50%;
            left: 35%; top: 24%; bottom: 20%; right: 30%;
            
        }
     
      }

      @media only screen and (max-width: 520px){

        .container{
            position: fixed;
            background-image: url('../images/1.texture.png') ;
            height: 100vh;
            width: 120vw;
            overflow: hidden;
            background-size: cover;
        
        }

        .hello{
            position: relative;
            width: 100vw;
            top:80%;
            background-color: white;
            border:3px solid blue;
            box-sizing: border-box ;
           
          
        }
        .navForHambuger
        {
          display: block;
          width: 50px;
          height: 50px;
          padding: 5px;
          
          position: relative;
          top: 10px;
          left: 40px;
          background-color: white;
          border: 3px solid blue;
          z-index: 1;
          
          -webkit-user-select: none;
          user-select: none;
        }
        
        .navForHambuger a
        {
          text-decoration: none;
          color: black;
          
          transition: color 0.3s ease;
        }
        
        .navForHambuger a:hover
        {
          color: blue;
        }
        
        
        .navForHambuger input
        {
          display: block;
          width: 40px;
          height: 32px;
          position: absolute;
          top: -7px;
          left: -5px;
          
          cursor: pointer;
          
          opacity: 0; 
          z-index: 2; 
          
          -webkit-touch-callout: none;
        }
        
       
         .navForHambuger span
        {
          display: block;
          width: 33px;
          height: 4px;
          margin-left: 1px;
          margin-top: 6px;
          margin-bottom: 3px;
          position: relative;
         
          background: black;
          border-radius: 3px;
          
          z-index: 1;
          
          transform-origin: 4px 0px;
          
          transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                      background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                      opacity 0.55s ease;
        }
        
        .navForHambuger span:first-child
        {
          transform-origin: 0% 0%;
        }
        
        .navForHambuger span:nth-last-child(2)
        {
          transform-origin: 0% 100%;
        }
        
        
         .navForHambuger input:checked ~ span
        {
          opacity: 1;
          transform: rotate(45deg) translate(-2px, -1px);
          background: #232323;
        }
        
        
         .navForHambuger input:checked ~ span:nth-last-child(3)
        {
          opacity: 0;
          transform: rotate(0deg) scale(0.2, 0.2);
        }
        
       
         .navForHambuger input:checked ~ span:nth-last-child(2)
        {
          transform: rotate(-45deg) translate(0, -1px);
        }
        
       
      .hambmenu
        {
          position: absolute;
          width: 300px;
          margin: -100px 0 0 -50px;
          padding: 50px;
          padding-top: 125px;
          
          background: #ededed;
          list-style-type: none;
          -webkit-font-smoothing: antialiased;
          
          transform-origin: 0% 0%;
          transform: translate(-100%, 0);
          
          transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        }
        
        .hambmenu li
        {
          padding: 10px 0;
          font-size: 22px;
        }
        
        
         .navForHambuger input:checked ~ ul
        {
          transform: none;
        }
        nav,.about,.contacts{
            display: none; 
        }
       a>.hand{
           
            position: absolute;
            height: 50%;
            left: 30%;  top: 20%; bottom: 20%; right: 30%;
            
        }
     
      }


     /* @media only screen and (max-width: 1285px){

        .container{
            position: fixed;
            background-image: url('../images/1.texture.png');
            height: 100vh;
            width: 120vw;
            overflow: hidden;
            background-size: 100% 100%;
        
        }

        nav{
            position: fixed;
            height: 50%;
            left: 35%; top: 3%; bottom: 20%;  
        }

        nav>ul>li{
            text-align: center;
            padding: 0 0.1em;
             float: left;
             margin-right: 2em;
             font-size: 1.5em;
             border: 3px solid black;
             
             
         }
      }



      @media only screen and (max-width: 1250px){

        .container{
            position: fixed;
            background-image: url('../images/1.texture.png');
            height: 100vh;
            width: 130vw;
            margin-right: 10%;
            overflow: hidden;
            background-size: 100% 100%;
        
        }

        nav{
            position: fixed;
            height: 50%;
            left: 30%; top: 3%; bottom: 20%;  
        }

        nav>ul>li{
            text-align: center;
            padding: 0 0.1em;
             float: left;
             margin-right: 2em;
             font-size: 1.5em;
             border: 3px solid black;
             
             
         }
         a>.hand{
            position: absolute;
            height: 52%;
            left: 42%; top: 24%; bottom: 20%; right: 30%;
            
        }
      }
      @media only screen and (max-width: 1250px){

        .container{
            position: fixed;
            background-image: url('../images/1.texture.png');
            height: 100vh;
            width: 150vw;
            margin-right: 30%;
            overflow: hidden;
            background-size: 100% 100%;
        
        }

        nav{
            position: fixed;
            height: 50%;
            left: 35%; top: 3%; bottom: 20%;  
        }

        nav>ul>li{
            text-align: center;
            padding: 0 0.1em;
             float: left;
             margin-right: 1.5em;
             font-size: 1.3em;
             border: 3px solid black;
             
             
         }
         a>.hand{
            position: absolute;
            height: 50%;
            left: 36%; top: 24%; bottom: 20%; right: 30%;
            
        }
      } */



/* .noise{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background-image: url('../images/unnamed.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    animation: noise .5s steps(10) infinite;
}


@keyframes noise {
    0% { background-position: 0 0;}
    50% { background-position: 100% 100% }
}
 */


